**/*.localz
**/*.local
**/*.git
**/*.DS_Store
**/*DIAGRAMAER

Documentacion/assets/cajero/general.vsdx

backend/node_modules/
backend/.env
backend/package-lock.json
front-end/.env

Frontend/

**.ayd
terraform/terraform.tfvars

terraform/.terraform/

ansible/group_vars/frontend.yml
